services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: cfx-frontend
    ports:
      - "80:80"
    deploy:
      resources:
        limits:
          memory: 256 MB

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: cfx-backend
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          memory: 256 MB